<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">comuneProject</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fourni_fact/add">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Creation d'une facture
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fournisseur/details">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Founisseurs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="facture/details">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Factures
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="produit/details">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Produits
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="operation/details">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Operations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="beneficie/details">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bénéficies
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
